{:kotoba.app/id "cloud.itonami.isic-7010", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihlut7mojjlsjy5iah3giw562w7tvvqnd3utflpu3p2w3ruyuu3hq", :kotoba.app/embed-url "ipfs://bafkreihlut7mojjlsjy5iah3giw562w7tvvqnd3utflpu3p2w3ruyuu3hq", :published {:archive "https://kotobase.net/ipfs/bafkreihlut7mojjlsjy5iah3giw562w7tvvqnd3utflpu3p2w3ruyuu3hq", :size 76133, :put-status 201, :get-status 200, :at "2026-08-15T14:01:32.633Z"}}
